page-home {
  .buttons * {
    margin-bottom: 35px;
    :hover {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .container {
    height: 180px;
    width: 180px;
    text-align: center;
    border-radius: 50px;
  }

  
}
