@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

.toolbar-background {
  background-image: -webkit-gradient(linear, right top, left top, from(#243133), color-stop(#284345), color-stop(#2c5656), color-stop(#316a65), to(#387e73));
  background-image: linear-gradient(to left, #243133, #284345, #2c5656, #316a65, #387e73);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.custom-list {
  ion-item:hover {
    background-color: #387e73;
    color: white;
  }
  button:hover {
    background-color: #387e73;
    color: white;
  }
}

$box-shadow: 0 4px 8px 0 rgba(0,
0,
0,
0.2),
0 6px 20px 0 rgba(0,
0,
0,
0.19);
.box-shadow {
  box-shadow: $box-shadow;
}

.round-edges {
  border-radius: 10px;
}

.ionic-background {
  background-color: rgba($color: color($colors, ionic), $alpha: 0.1)
}

.react-background {
  background-color: rgba($color: color($colors, react), $alpha: 0.1)
}

.logo-container {
  height: 100px;
  width: 100px;
  margin: auto;
}
