.toolbar-background {
  background-image: -webkit-gradient(linear, right top, left top, from(#243133), color-stop(#284345), color-stop(#2c5656), color-stop(#316a65), to(#387e73));
  background-image: linear-gradient(to left, #243133, #284345, #2c5656, #316a65, #387e73);
}

.cover {
  -o-object-fit: cover;
  object-fit: cover;
  width: 350px;
  height: 350px;
  align-items: center;
}
