page-data-binding {
  .container {
    height: 500px;
    width: 500px;
    margin: auto;
    border: 1px solid color($colors, ionic);
    border-radius: 5%;
  }

  .container-rn {
    width: 100%;
    margin: auto;
    border: 1px solid color($colors, ionic);
    border-radius: 10px;
  }
}
